{%include 'header.html'%}

<h1 >Rotation Your Image .</h1>
  <div class="card w-50" >
  <div class="card-body">
      {%with error=get_flashed_messages()%}
      {%if error%}
      <ul>
          {%for x in error%}
            <li style="color:red; margin-top:20px;">{{x}}</li>
          {%endfor%}
      </ul>
      {%endif%}
    {%endwith%}
    <form method="post" enctype="multipart/form-data" style=" margin:50px;">
        <label style="margin:20px auto">Image </label>
      <input class="form-control me-2" type="file"  name="file" required>

        <button type="submit" class="btn btn-outline-success" name="submit" style="margin-top:50px;" >Submit </button>
    </form>





  </div>
</div>

{%if img%}
    <div style="text-align:center;">
      <img src="{{img}}" style="">
            <form method="post" enctype="multipart/form-data" action="/download">
                <a class="btn btn-outline-success" style="background-color:#FFF8EA;" href="{{url_for('download',filename=img.split('/')[2])}}">Save .</a>
            </form>
    </div>
    {%endif%}

{%include 'footer.html'%}