{%include "header.html"%}

<h1>Welcome to Coloric .</h1>


<div class="card" >
  <div class="card-header" >
    Background
  </div>
  <div class="card-body">
    <h5 class="card-title">Background Remover</h5>
    <p class="card-text">Remove background from any Image you choose.</p>
    <a href="{{url_for('remover')}}" class="btn" >Start .</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    QR code
  </div>
  <div class="card-body">
    <h5 class="card-title">QR code Generator</h5>
    <p class="card-text">Start to generate your own QR code, You can choose a color and add your Logo.</p>
    <a href="{{url_for('qr_code')}}" class="btn">Start .</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Resize
  </div>
  <div class="card-body">
    <h5 class="card-title">Resize Image</h5>
    <p class="card-text">Resize Your Image and Save it Easily</p>
    <a href="{{url_for('resize')}}" class="btn">Start .</a>
  </div>

</div>

<div class="card">
  <div class="card-header">
    Crop
  </div>
  <div class="card-body">
    <h5 class="card-title">Crop Image</h5>
    <p class="card-text"> Crop Images in circular way. .</p>
    <a href="{{url_for('image_rotation')}}" class="btn">Start .</a>
  </div>

</div>

{%include "footer.html"%}